Repository secnate/ProfessOrNot, changes with the owners that CODEOWNERS names for each.
All owners: @NathanPavlovsky, @brockthealex, @kblock97, @willbootle

Fix #135 allow blank comment
  api/reviews/serializers.py
Owners: @willbootle

Fix #139 Now returns reviews in order of most recent.
  api/reviews/models.py
Owners: @willbootle

Fixed the Professor Page and already-existing review issue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Review.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Fixed coursepage
  frontend/src/components/CoursePage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Updated the Main page
  frontend/src/components/Main.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Working on search bar
  frontend/src/components/CoursePage.vue
  frontend/src/components/Main.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Got search bar working
  frontend/src/components/CoursePage.vue
  frontend/src/components/Main.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Review.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Got searchbar working
  frontend/src/components/NewCourseOrProf.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Created basic Profile Popover UI
  frontend/src/components/Profile.vue
  frontend/src/components/Review.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Changed the route parameters to hide passed ids from page to page and updated search bar
  frontend/src/components/CoursePage.vue
  frontend/src/components/NewCourseOrProf.vue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Did some final tweaks
  frontend/src/components/NewCourseOrProf.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Close #115. Also fixed a bug where an expired auth token wasn't logged out automatically.
  frontend/src/components/Profile.vue
  frontend/src/store/modules/auth.js
Owners: @NathanPavlovsky, @brockthealex, @kblock97, @willbootle

Merge & Close #115 the profile update now works. Fixed style issues by scoping style.
  frontend/src/components/CoursePage.vue
  frontend/src/components/Main.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/NewCourseOrProf.vue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Search.vue
  frontend/src/store/modules/auth.js
Owners: @NathanPavlovsky, @brockthealex, @kblock97, @willbootle

Switch axios-base-url to dev-api
  frontend/src/main.js
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Implemented vue-select dropdowns close #131
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CoursePage.vue
  frontend/src/components/CreateReview.vue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Search.vue
  frontend/src/main.js
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Close #148 added schools to register and update profile. Also fixed search so it now only searches through users school. Also added update password option to profile.
  api/schools/views.py
  api/search/views.py
  frontend/src/components/CreateReview.vue
  frontend/src/components/Profile.vue
  frontend/src/components/Register.vue
  frontend/src/main.js
  frontend/src/store/modules/auth.js
Owners: @willbootle, @NathanPavlovsky, @brockthealex, @kblock97

Fix placeholder issues
  frontend/src/components/Profile.vue
  frontend/src/components/Register.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Now pushes new reviews onto top of array.
  frontend/src/components/CoursePage.vue
  frontend/src/components/CreateReview.vue
  frontend/src/components/ProfessorPage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Change param id from profId/courseId to just id. Fixes #151
  frontend/src/components/NewCourseOrProf.vue
  frontend/src/components/Search.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Now sets id when new course/prof created. Fixes #150. Also changed show() method to only load necessary fields based on props. Also removed need for disabled props, added a computed method for that.
  frontend/src/components/CoursePage.vue
  frontend/src/components/CreateReview.vue
  frontend/src/components/ProfessorPage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Clean up rendering, fix update bugs.
  frontend/src/components/CoursePage.vue
  frontend/src/components/ProfessorPage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Got the type checking in CreateReview working
  frontend/src/components/CreateReview.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Fixed a couple bugs.
  frontend/src/components/CreateReview.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Cleaned up addNewReview() to keep entire page from reloading. Used the professor object embedded in the review object.
  frontend/src/components/CoursePage.vue
  frontend/src/components/ProfessorPage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

change logo to possible fix issue
  frontend/src/components/Navbar.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Clear junk files
  frontend/Dockerfile
  frontend/package-lock.json.orig
  frontend/package_BACKUP_18024.json
  frontend/package_BACKUP_8864.json
  frontend/package_BASE_18024.json
  frontend/package_BASE_8864.json
  frontend/package_LOCAL_18024.json
  frontend/package_LOCAL_8864.json
  frontend/package_REMOTE_18024.json
  frontend/package_REMOTE_8864.json
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Fixed profile modal and backslash to forward slash. Should work now. Please reset all work to this commit to clear out those old files.
  frontend/src/components/Main.vue
  frontend/src/components/Navbar.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Missed two. These are junk as well.
  frontend/nginx_config/default.conf
  frontend/nginx_config/nginx.conf
Owners: @NathanPavlovsky, @brockthealex, @kblock97

More junk
  frontend/dist/css/app.934a6de3.css
  frontend/dist/css/chunk-vendors.cf8a79c2.css
  frontend/dist/favicon.png
  frontend/dist/img/logotitle.36f8bfad.svg
  frontend/dist/img/logotitle_2.dfa3e37d.svg
  frontend/dist/index.html
  frontend/dist/js/app.d7479e19.js
  frontend/dist/js/app.d7479e19.js.map
  frontend/dist/js/chunk-vendors.05c6b66c.js
  frontend/dist/js/chunk-vendors.05c6b66c.js.map
  frontend/dist/logo192.png
  frontend/dist/logo512.png
  frontend/dist/manifest.json
  frontend/dist/robots.txt
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Oops put this back.
  frontend/public/index.html
Owners: @NathanPavlovsky, @brockthealex, @kblock97

A couple bug fixes.
  frontend/src/components/NewCourseOrProf.vue
  frontend/src/components/ProfessorPage.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Another fix
  frontend/src/components/Navbar.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

fixed logo in navbar
  frontend/src/components/Navbar.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

Fixed slashes again, fixed professor page to match course page logic. Everything should be working.
  frontend/src/components/LoginPanel.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/ProfessorPage.vue
  frontend/src/components/Register.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

dont know why this was changed?
  frontend/src/components/Register.vue
Owners: @NathanPavlovsky, @brockthealex, @kblock97

CODEOWNERS:

# Nathan, Alex, Kassidy are Code Owners for frontend
/frontend/ @NathanPavlovsky @brockthealex @kblock97
# Will is the Code Owner for the API, Scripts, Vuex, Travis, Deploykey
/api/ @willbootle
/scripts/ @willbootle
.travis.yml @willbootle
deploy_key.enc @willbootle
/frontend/src/store/ @willbootle
